# EditorConfig is awesome: http://EditorConfig.org

# editorconfig.org
root = true

# editorconfig-tools is unable to ignore longs strings or URLs
max_line_length = null

# all files configs
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# .md files configs
[*.md]
trim_trailing_whitespace = false

# tab indentation for specific file types
[*.{css,scss,twig}]
indent_style = tab
indent_size = 2
