{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "prettier/prettier": 0
  }
}
