.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 50%;
	margin-left: 26%;
}

::-webkit-scrollbar {
	display: none;
}

.card {
	padding: 2em;
	color: darkgrey;
}

.activeCard {
	padding: 2em;
	color: rgb(21, 185, 109);
}

.scrolling-wrapper {
	-webkit-overflow-scrolling: touch;
}
