body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: rgb(21, 185, 109);
	height: 25%;
	padding: 20px;
	color: whitesmoke;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

.text {
	color: rgb(21, 185, 109);
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
