/* .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 50%;
    margin-left: 26%;
} */

::-webkit-scrollbar {
    display: none;
}

.card {
    padding: 2em;
    color: darkgrey;
}

.activeCard {
    padding: 2em;
    color: rgb(21, 185, 109);
    text-decoration: underline
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

Button {
    outline: none;
    text-align: center;
    border: none;
    font: 500 16px/1 "Helvetica", sans-serif !important;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s ease;
    background-color: #15B96D !important;
}

Button:hover {
    background-color: #279763 !important;
}

.HomePageButton {
    padding: 0px;
    font-size: calc(16px + 0.4vw);
    color: whitesmoke;
}

.HomePageButton:hover {
    color: white;
    font-weight: bolder;
}

#CreateTeamButton {
    text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
    transform: translate(-50%, -50%);
}

#CreateSprintButton {
    text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
    transform: translate(-50%, -50%);
}

#SprintOverviewButton {
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}

#particles {
	width: 100vw;
	height: 100vh;
}

canvas {	
	display: block;
}